<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Exploration</title>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/nbh2ocj.css">
</head>
<body>
    <!-- Navigation bar -->
    <div id="navbar-placeholder"></div> 

    <h1 class="page-title">Data Exploration</h1>
    <main class="section explore-section">

        <!-- Data Collection 1-->
        <section class="hero-section" id="explore-collection-1">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Data Source Name</h2>

                    <h3>Method of Collection</h3>

                    <h3>Relevancy to Our Research</h3>

                    <h3>Before & After</h3>
                </div>
            </div>
        </section>

        <!-- Data Collection 2-->
        <section class="hero-section" id="explore-collection-2">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Data Source Name</h2>

                    <h3>Method of Collection</h3>

                    <h3>Relevancy to Our Research</h3>

                    <h3>Before & After</h3>
                </div>
            </div>
        </section>

        <!-- Data Collection 3-->
        <section class="hero-section" id="explore-collection-3">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Data Source Name</h2>

                    <h3>Method of Collection</h3>

                    <h3>Relevancy to Our Research</h3>

                    <h3>Before & After</h3>
                </div>
            </div>
        </section>

        <!-- Visualizations -->
        <section class="hero-section" id="explore-viz">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Visualizations</h2>
                </div>
            </div>
        </section>
        
    </main>
    <script src="../../resources/js/script.js"></script>
</body>
</html>