<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Models Implemented</title>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/nbh2ocj.css">
</head>
<body>
    <!-- Navigation bar -->
    <div id="navbar-placeholder"></div>

    <h1 class="page-title">Models Implemented</h1>
    <main class="section models-section">

        <!-- Frequent Pattern Mining -->
        <section class="hero-section" id="models-fpm">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Frequent Pattern Mining</h2>

                    <h3>Why the model was chosen:</h3>
                    <p>
                        
                    </p>

                    <h3>Model Assumptions:</h3>
                    <p>
                        
                    </p>

                    <h3>Hyperparameter Tuning:</h3>
                    <p>
                        
                    </p>

                    <h3>Challenges & Solutions:</h3>
                    <p>
                        
                    </p>

                    <h3>Evaluation Metrics:</h3>
                    <p><strong>Support:</strong></p>
                    <p><strong>Confidence:</strong></p>
                    <p><strong>Lift:</strong></p>

                    <h3>Comparison & Justification:</h3>
                    <p>
                        
                    </p>

                    <h3>Before & After Cleaning:</h3>
                </div>
            </div>
        </section>

        <!-- Classification -->
        <section class="hero-section" id="models-class">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Classification</h2>

                    <h3>Why the model was chosen:</h3>
                    <p>
                        
                    </p>

                    <h3>Model Assumptions:</h3>
                    <p>
                        
                    </p>

                    <h3>Hyperparameter Tuning:</h3>
                    <p>
                        
                    </p>

                    <h3>Challenges & Solutions:</h3>
                    <p>
                        
                    </p>

                    <h3>Evaluation Metrics:</h3>
                    <p><strong>Accuracy:</strong></p>
                    <p><strong>Precision:</strong></p>
                    <p><strong>Recall:</strong></p>
                    <p><strong>F1 Score:</strong></p>
                    <p><strong>ROC-AUC:</strong></p>

                    <h3>Comparison & Justification:</h3>
                    <p>
                        
                    </p>

                    <h3>Before & After Cleaning:</h3>
                </div>
            </div>
        </section>

        <!-- Clustering -->
        <section class="hero-section" id="models-cluster">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Clustering</h2>

                    <h3>Why the model was chosen:</h3>
                    <p>
                        
                    </p>

                    <h3>Model Assumptions:</h3>
                    <p>
                        
                    </p>

                    <h3>Hyperparameter Tuning:</h3>
                    <p>
                        
                    </p>

                    <h3>Challenges & Solutions:</h3>
                    <p>
                        
                    </p>

                    <h3>Evaluation Metrics:</h3>
                    <p><strong> Silhouette Score:</strong></p>
                    <p><strong> Davies-Bouldin Index:</strong></p>

                    <h3>Comparison & Justification:</h3>
                    <p>
                        
                    </p>

                    <h3>Before & After Cleaning:</h3>
                </div>
            </div>
        </section>

        <!-- Regression -->
        <section class="hero-section" id="models-regression">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Regression</h2>

                    <h3>Why the model was chosen:</h3>
                    <p>
                        
                    </p>

                    <h3>Model Assumptions:</h3>
                    <p>
                        
                    </p>

                    <h3>Hyperparameter Tuning:</h3>
                    <p>
                        
                    </p>

                    <h3>Challenges & Solutions:</h3>
                    <p>
                        
                    </p>

                    <h3>Evaluation Metrics:</h3>
                    <p><strong>RMSE:</strong></p>
                    <p><strong>MSE:</strong></p>
                    <p><strong>R-squared Score:</strong></p>

                    <h3>Comparison & Justification:</h3>
                    <p>
                        
                    </p>

                    <h3>Before & After Cleaning:</h3>
                </div>
            </div>
        </section>
    </main>

    <script src="../../resources/js/script.js"></script>
</body>
</html>