<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Proposal</title>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/nbh2ocj.css">
</head>
<body>
    <!-- Navigation bar -->
    <div id="navbar-placeholder"></div> 

    <h1 class="page-title">Project Proposal</h1>
    <!-- JS -->
    <script src="../../resources/js/script.js"></script>
</body>
</html>