<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Proposal</title>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/nbh2ocj.css">
</head>
<body>
    <!-- Navigation bar -->
    <div id="navbar-placeholder"></div> 

    <h1 class="page-title">Project Proposal</h1>
    <main class="section proposal-section">
        <!-- Research Topic -->
        <section class="hero-section" id="proposal-topic">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Research Topic</h2>
                </div>
            </div>
        </section>

        <!-- Scope -->
        <section class="hero-section" id="proposal-scop">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Scope</h2>
                </div>
            </div>
        </section>

        <!-- Research Questions -->
        <section class="hero-section" id="proposal-questions">
            <div class="container hero-inner">
                <div class="hero-text">
                    <h2>Research Questions</h2>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                </div>
            </div>
        </section>
    </main>

    <!-- JS -->
    <script src="../../resources/js/script.js"></script>
</body>
</html>