<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members</title>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/nbh2ocj.css">
</head>
<body>
    <!-- Navigation bar -->
    <div id="navbar-placeholder"></div> 

    <h1 class="page-title">Team Members</h1>
    <main class="section team-section">
        <!-- Kaylee -->
        <section class="hero-section" id="team-kaylee">
            <div class="container hero-inner">
                <img src="../../resources/img/kaylee.JPG" alt="Picture of Kaylee Dehncke" width="275" height="400">
                <div class="hero-text">
                    <h2>Kaylee Dehncke</h2>
                    <h3>Visualization Lead and Website Designer</h3>
                    <p>
                        Kaylee is a student at the University of Colorado Boulder, majoring in Computer Science, minoring in Creative Technology and Design, and getting her masters in Data Science. 
                        She is originally from St. Paul, Minnesota, where she loves to spend time outside hiking, and exploring the city.
                    </p>
                </div>

                <div class="container">
                <a href="https://kayleedehncke.github.io/final/home.html" aria-label="Website">
                    <img src="../../resources/img/website.png" alt="Website icon" width="30" height="30">
                </a>
                <a href="https://www.linkedin.com/in/kaylee-dehncke-4377a5249/" aria-label="LinkedIn">
                    <img src="../../resources/img/linkedin.webp" alt="LinkedIn icon" width="30" height="30">
                </a>
                <a href="https://github.com/kayleedehncke" aria-label="GitHub">
                    <img src="../../resources/img/github.png" alt="GitHub icon" width="30" height="30">
                </a>
        </div>
            </div>
        </section>

        <!-- Ayush -->
        <section class="hero-section" id="team-ayush">
            <div class="container hero-inner">
                <img src="../../resources/img/ayush.JPG" alt="Picture of Ayush Khadka" width="275" height="400">
                <div class="hero-text">
                    <h2>Ayush Khadka</h2>
                    <h3>Data Lead</h3>
                    <p> </p>
                </div>

                <div class="container">
                <a href="" aria-label="Website">
                    <img src="../../resources/img/website.png" alt="Website icon" width="30" height="30">
                </a>
                <a href="" aria-label="LinkedIn">
                    <img src="../../resources/img/linkedin.webp" alt="LinkedIn icon" width="30" height="30">
                </a>
                <a href="" aria-label="GitHub">
                    <img src="../../resources/img/github.png" alt="GitHub icon" width="30" height="30">
                </a>
            </div>
        </section>
    </main>

    <!-- JS -->
    <script src="../../resources/js/script.js"></script>
</body>
</html>