<link rel="stylesheet" href="../../resources/css/style.css">
<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">MyWebsite</a>
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="../pages/intro.html" class="navbar-link">Introduction</a>
            </li>

            <li class="navbar-item">
                <a href="../pages/team.html" class="navbar-link">Team</a>
            </li>

            <li class="navbar-item">
                <a href="../pages/proposal.html" class="navbar-link">Project Proposal</a>
            </li>
        </ul>
    </div>
</nav>